<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Employee Management System</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="header">
        <h3>Employee Management System</h3>

        <div class="menu">
            <a href="createPage">Create New Employee</a>
			<br/> <br/>
            <a href="searchPage">Search Employee</a>
			<br/> <br/>
            <a href="updatePage">Update Employee</a>
			<br/> <br/>
            <a href="deletePage">Delete Employee</a>
			<br/> <br/>
            <a href="deleteAllPage">Delete All Employee</a>
			<br/> <br/>
            <a href="viewAll">View All Employee</a>
        </div>
    </div>

</body>
</html>
